.App {
  text-align: center;
  margin-top: 50px;
}

.length-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.length-controls button {
  margin: 0 10px;
}

#timer-label {
  font-size: 2em;
  margin-top: 20px;
}

#time-left {
  font-size: 4em;
  margin-top: 20px;
}

#start_stop,
#reset {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 1.5em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start_stop {
  background-color: #28a745;
  color: white;
}

#reset {
  background-color: #dc3545;
  color: white;
}